.profile__text {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-weight: normal;
    padding-top: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

@media screen and (min-width: 640px) {
    .profile__text {
        font-size: 18px;
        line-height: 22px;
        padding-top: 16px;
        text-align: start;
        margin-left: 30px;
        max-width: 100%;
    }
}
