.form__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 900;
    color: #000000;
    padding-bottom: 52px;
    padding-top: 25px;
    margin: 0;
    width: 100%;
}

@media screen and (min-width: 640px) {
    .form__title {
        font-size: 24px;
        line-height: 29px;
    }
}
