.popup__window {
    position: relative;
    background: #ffffff;
    width: 282px;
    padding: 25px 22px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 640px) {
    .popup__window {
        width: 430px;
        padding: 34px 36px;
    }
}
