.button-add {
    background-image: url("../../../images/button__add.svg");
    background-repeat : no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    border: 1px solid white;
    height: 50px;
    background-color: black;
    margin-top: 36px;
}

@media screen and (min-width: 640px) {
    .button-add {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 150px;
        /* padding-right: 50px; */
    }
}

@media screen and (min-width: 1280px) {
    .button-add  {
        min-width: 150px;
    }
}