.footer {
    display: flex;
    justify-content:flex-start;
    margin-top: auto;
    padding-top: 48px;
    margin-bottom: 36px;
}
@media screen and (min-width: 960px) {
    .footer {
        padding-top: 67px;
        margin-bottom: 60px;
    }
}
