.profile__button {
    background-image: url("../../../images/button__add.svg");
    background-repeat : no-repeat;
    background-size: contain;
    width: 100%;
    border: 1px solid white;
    height: 50px;
    background-color: black;
    margin-top: 36px;
}