.button_edit {
    background-image: url("../../../images/Edit-button.svg");
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    background-color: black;
    margin-left: 10px;
}

@media screen and (min-width: 640px) {
    .button_edit {
        margin-left: 0;
        width: 24px;
        height: 24px;
    }
}
